body {}

.top_bar {
    padding: 7px;
    background: rgb(31, 31, 31);
    line-height: 30px;
    font-weight: 600;
}


.top_bar .inner .slogan {
    text-align: center;
    color: #fff;
}

.top_bar .inner .customer {
    margin: 60px;
    float: right;
}

.top_bar .inner .customer li {
    float: left;
    padding: 0 20px;
    border-right: 1px solid #dddddd81;
}

.top_bar .inner ul>li:first-child {
    color: red;
}

.top_bar .inner ul>li:last-child {
    color: red;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}


#header .logo-Area a {
    display: block;
    height: 100%;
    padding: 50px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 14px;
    text-transform: uppercase;
}


.bg00 {
    background-image: url(../images/p_main_001.jpg);
    height: 1335px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.itm {
    height: 1250px;
}

.itm01 {
    background: url(../images/p_main_002.jpg)no-repeat center center/cover;
    ;
}

.itm02 {
    background: url(../images/p_main_003.jpg)no-repeat center center/cover;
    ;
}

.itm03 {
    background: url(../images/p_main_004.jpg)no-repeat center center/cover;
    ;
}

#mainVisual .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;

    background: transparent;
    border: none;
    outline: none;

    font-size: 0;
    width: 100px;
    height: 100px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);

}

#mainVisual .slick-prev {
    margin: 0 0 0 -900px;
    transform: translate(-50%, -50%) rotate(-45deg);
}

#mainVisual .slick-next {
    margin: 0 0 0 900px;
    transform: translate(-50%, -50%) rotate(135deg);
}

#mainVisual .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

#mainVisual .slick-dots>* {
    display: inline-block;
    margin: 0 2px;
}

#mainVisual .slick-dots button {
    background: rgba(95, 95, 95, 0);
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
}

#mainVisual .slick-dots li.slick-active button {
    background: red;
}

/* 사진 3개 */

.main_content {
    padding: 100px 0;
}

.main_content .tit h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 10px 0;
    text-align: center;
}

.main_content .content {
    display: flex;
    gap: 30px;
}

.main_content .content figure {
    flex: 1;
    text-align: center;

}

.main_content .content figure .box {
    gap: 30px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.main_content .contetnt figure img {
    width: 100%;
    object-fit: cover;
}

.main_content .content figure .box {
    margin: 0 0 20px 0;
    border-radius: 50%;
    overflow: hidden;
}

.main_content .content figure strong {
    display: block;
    margin: 0 0 20px 0;
}


.main_content .content figure a {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 5px 12px;
}

.main_content .content figure img {
    transition: 0.5s;
}

.main_content .content figure:hover img {
    transform: scale(1.2);

}

/* 푸터 */

.footer {
    color: #111;
    text-align: center;
}

.footer .top {
    height: 100%;
    display: block;
    padding-bottom: 30px;
    font-size: 30px;
    letter-spacing: 8px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer .top .inner {}

.footer .inner {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    font-weight: 300;

    padding-bottom: 20px;
}